.container {
    padding-top: 5rem;
    padding-left: 10rem;
    height: 100vh;
}

.title{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3.5rem;
}

.title hr{
    width: 70%;
    height: 1px;
}