.container {
    padding-top: 5rem;
    height: 100vh;
}

.content{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text_div{
    word-wrap: break-word;  
    width: 50%;
}