.container {
    padding-top: 5rem;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.zabody{
    padding-left: 10rem;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.zatitle{
    color: #57C4E5;
    font-size: 2rem;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;

}

.form input{
    cursor:text;
    border-color: #57C4E5;
    border-radius:10px;
    border-style: solid;
    padding: 15px;
    font-size: 1rem;
    color: var();
    background-color: #212738;
}

.form textarea{
    grid-column: 1/3;
    cursor:text;
    border-color: #57C4E5;
    border-radius:10px;
    border-style: solid;
    padding: 15px;
    font-size: 1rem;
    color: #57C4E5;
    background-color: #212738;
}

.btn{
    cursor:pointer;
    border-color: #57C4E5;
    border-radius:10px;
    border-style: solid;
    padding: 15px;
    width: 50%;
    font-size: 1em;
    color: #FFFAFA;
    background-color: #57C4E5;
}