.drawer{
    margin-top: 3%;
    margin-left: 85%;
    width: 15%;
    height: 100%;
    border: none;
    border-radius: 10px 0px 0px 0px;
    background: var(--complimentary-color2);
    color: var(--complimentary-color);
    padding: 30px 50px;
}

.drawer li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .drawer{
        margin-left: 70%;
        margin-top: 10%;
        width: 30%;
        padding: 20px 25px;
    }

    .drawer li{
        list-style: none;
        font-size: 1rem;
    }
    
}