.container {
    font-size: 2rem;
    font-family: var(--font-poppins);
    font-weight: bold;
    padding-inline: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container a:hover{
    color: var(--emphasis-color);
}

.hamburger {
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: none;
    padding: 8px;
    background: inherit;
}

.hamburger span {
    position: absolute;
    height: 5px;
    width: 25px;
    background: var(--complimentary-color);
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 12px
}

.hamburger span:nth-child(2) {
    top: 22px;
}

.hamburger.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (max-width:600px){
    .container{
        font-size: 1.5rem;
        padding-inline: 1rem;
    }
    .hamburger{
        width: 30px;
        padding: 6px;
    }
}