.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    padding-bottom: 5rem;
    height: 100vh;
}

.text_div{
    font-size: 1.5rem;
}

.title_div{
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: row;    
    text-transform:uppercase;
    font-size: 3rem;
    font-weight: bold;
    color: #57C4E5;
    padding-bottom: 1rem;
}

.white
{
    padding-left: 1rem;
    color: #FFFAFA;
}

.icons_div{
    margin-top: 2rem;
}
.icons_div a{
    padding-right: 2rem;
}

.icons_div img{
    width: 1.5rem;
    height: 1.5rem;
}

.icons_div img:hover{
    transform: scale(1.15);
}

.container button{
    width: fit-content;
    cursor:pointer;
    border-color: var(--emphasis-color);
    border-radius:10px;
    border-style: solid;
    padding: 10px;
    font-size: 1rem;
    color: var(--neutral-color);
    background-color: var(--emphasis-color);
}