.container {
    padding-top: 5rem;
    height: 100vh;
}


.grid{
    padding-left: 10rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 30% auto;
    row-gap: 4rem;
}

.category{
    font-size: 2rem;
    font-family: var(--font-poppins);
    font-weight: bold;
}

.gridItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
}