.container {
    padding-top: 5rem;
    height: 100vh;
}

.category{
    font-size: 1.5rem;
    font-family: var(--font-poppins);
}

.grid{
    padding-left: 10rem;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 4rem;
    
}

.gridItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    
}