.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.email{
    font-family: var(--font-poppins);
    position: fixed;
    margin-top: 18%;
    margin-left: 1rem;
    writing-mode:sideways-rl;
    text-orientation: sideways;
}

.email:hover{
    color: var(--emphasis-color);
}

@media only screen and (max-width:600px){
    .email{
        display: none;
    }
}