.input_div{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.input_div input,
.input_div textarea {
    font-family: var(--font-lora);
    cursor: text;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--complimentary-color);
    font-size: 1rem;
}

.input_div textarea {
    color: var(--neutral-color);
    resize: none;
    height: 12rem;
}

.fullwidth {
    grid-column: 1/3;
}

.incomplete:focus {
    outline: 1px solid red;
    outline-offset: 1px;
}